body {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    display: block;
}

main {
    margin: auto;
    display: flex;
    flex-direction: row;
}

#user_info {
    background-color: burlywood;
    width: 30%;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 0 10px;
}

#repo_holder {
    width: 50%;
    margin-left: 10px;
}

img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 10px;
}

.repo {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: #eee;
    word-wrap: break-word;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 2rem;
    display: block;
}

h2 {
    font-size: 0.8rem;
    display: block;
}